.countryFormDiv {
  background-color: beige;
  border-radius: 15px;
}

body {
  background-color: cornflowerblue;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: beige;
}

.tempCounter {
  font-size: 80px;
}

@media (max-width: 768px) {
  #windDiv {
    display: none;
  }
  footer {
    display: none;
  }
}

.iconDiv {
  width: 60px;
  height: 60px;
  background-color: cornflowerblue;
  border-radius: 15px;
  border: black solid 2px;
}

.windIndicator {
  transform-origin: center;
}